
.not_found_content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: calc(100vh - 100px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    background: url('/static/img/p404.png'), #151729;
    width: 100%;
    height: 100%;
}

.container .content {
    max-width: 600px;
    text-align: center;
}

.container .content h2 {
    font-size: 10em;
    color: #fff;
    line-height: 1em;
    margin: 0;
}

.container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}

.container .content p {
    color: #fff;
    font-size: 1.2em;
    margin: 8px;
}

.container .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin: 25px;   
    border-radius: 25px;
}

.container .backbutton {
    cursor: pointer;
}
