.content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
    background: #40739e;
}

.error__content {
    max-width: 600px;
    text-align: center;
}

.error__content h2 {
    font-size: 10em;
    color: #fff;
    line-height: 1em;
    margin: 0;
}

.error__content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
}

.error__content p {
    color: #fff;
    font-size: 1.2em;
    margin: 8px;
}

.error__content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #ff0562;
    color: #fff;
    text-decoration: none;
    margin: 25px;   
    border-radius: 25px;
}

.error__content .backbutton {
    cursor: pointer;
}
