/* AccountMenu */

.account-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 3;
}

.account-menu__container {
    position: absolute;
    top: 40px;
    right: 24px;
    width: 300px;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    color: #000;
}

.account-menu--visible {
    pointer-events: auto;
    opacity: 1;
}

.account-menu__details {
    background: #fff;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.account-menu__details__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    font-size: 80px;
}

.account-menu__details__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.account-menu__details__links__name {
    font-size: 16px;
}

.account-menu__details__links__email {
    font-size: 12px;
    color: #444;
}

.account-menu__footer {
    background: #ececec;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.account-menu__footer__add-account {
    display: flex;
    align-items: center;
}

.account-menu__footer__logout {
    display: flex;
    align-items: center;
}
