<main class="content">

    <div class="event-info__title">
        イベント名 : {{ .eventName }}
    </div>

    <div class="event-info__desc">
        イベントID : {{ .eventId }}
    </div>

    <div class="event-info__agenda">
        日程 : 
    </div>

    <div class="event-info__organication">
        組織 : 
    </div>

    <div class="event-info__place">
        場所 : 
    </div>

    

    <div class="event-info__member">
        メンバー
    </div>

    <div>
        キャパ設定
    </div>

    <div>
        
    </div>


</main>
