<main class="content">

    TODO https://docs.mongodb.com/manual/core/index-multikey/
    <br>
    マルチキーインデックスを使ってメンバーの参照を高速化する
    <br>
    1万人超えることはないので、Memberもone documentで大丈夫だと思う
    <br>

    <div class="event-info__title">
        イベント名 : {{ .eventName }}
    </div>

    <div class="event-info__desc">
        イベントID : {{ .eventId }}
    </div>

    <div class="event-info__agenda">
        日程 : 
    </div>

    <div class="event-info__organication">
        組織 : 
    </div>

    <div class="event-info__place">
        場所 : 
    </div>

    

    <div class="event-info__member">
        メンバーもここに出す、Infiniteなんたらしたい
    </div>

    <div>
        キャパ設定
    </div>

    <div>
        <button>編集</button>
    </div>


</main>
