<main class="content">

    <div class="event-container">
        <span class="event-container__title">イベント名</span>
        <span class="event-container__desc">イベントのタイトルです</span>
        <p class="event-container__value">{{ .eventName }}</p>
    </div>

    <div class="event-container">
        <span class="event-container__title">イベントID</span>
        <span class="event-container__desc">イベント識別ID、変更不可</span>
        <p class="event-container__value">{{ .eventId }}</p>
    </div>

    <div class="event-container">
        <span class="event-container__title">組織</span>
        <span class="event-container__desc">主催している団体</span>
        <p class="event-container__value">{{ .organization }}</p>
        
    </div>

    <div class="event-container">
        <span class="event-container__title">メンバー</span>
        <span class="event-container__desc">参加メンバー</span>        
    </div>

    <div class="event-container">
        <span class="event-container__title">公演日程</span>
        <span class="event-container__desc"></span>
    </div>

    <div class="event-container">
        <span class="event-container__title">公演会場</span>
        <span class="event-container__desc"></span>
    </div>

    <div class="button-container">
        <button class="js-event-update button-container__update">編集ページ</button>
    </div>

</main>
