.content {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #fafafa;
}

.member-container {
    display: flex;
}

.member-table__container {
    overflow: auto;
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
}


.member-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    white-space: nowrap;
    width: 100%;
}

.member-table__head {
    border: 1px solid #ddd;
    text-align: left;
    background: rgba(0, 0, 0, 0.1);
}

.member-table__head th {
    padding: 8px 32px;
}

.member-table__body tr {
    border: 1px solid #ddd;
    cursor: pointer;
}

.member-table__body tr:hover {
    background: rgba(0, 0, 0, 0.1);
}

.member-table__body td {
    text-align: left;
    padding: 8px 32px;
}


/* side navが消える位置で、widthをmaxにする */
@media screen and (max-width: 756px) {
    .member-table__container{
        width: 100vw;
    }
}
