.content {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #fafafa;
}

.member-header {
    margin: 0 64px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.member-header__button {
    background: none;
    border: none;
    padding: 8px 12px;
    margin: 0 8px;
    border-radius: 2px;
    display: flex;
    color: royalblue;
}

.member-header__button:hover{
    background: rgba(0, 0, 0, 0.1);
}

.member-header__button__icon {
    font-size: 1.6em;
    margin-right: 4px;
}

.member-container {
    display: flex;
}

.member-table__container {
    overflow: scroll hidden;
    background: rgba(0, 0, 0, 0.2);
    width: calc(100vw - 250px);
}


.member-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    white-space: nowrap;
    
    width: 100%;
}

.member-table__head {
    border: 1px solid #ddd;
    text-align: left;
}

.member-table__head th {
    padding: 8px 32px;
}

.member-table__body tr {
    border: 1px solid #ddd;
}

.member-table__body td {
    text-align: left;
    padding: 8px 32px;
}

/* side navが消える位置で、widthをmaxにする */
@media screen and (max-width: 756px) {
    .member-table__container{
        width: 100vw;
    }
}
