* {

    /* padding, marginをwidthとheightの長さに含める */
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.base__header {
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2; /* 影を見せるために、上に設定 */
    background: #333;
    color: #fff;
    display: flex; /* header内の要素が横並びになるように設定 */
    flex-direction: row; /* 並び方の詳細 */
    align-items: center; /* https://developer.mozilla.org/ja/docs/Web/CSS/align-items 要素がいい感じに真ん中に来るように設定 */
    padding: 0 16px;

    position: sticky;
    top: 0;
}

.base__header__menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: #fff;

    margin-right: 20px;
    border-radius: 3px;
}

.base__header__menu-toggle:hover {
    background: rgb(170, 170, 170);
}

.base__header__icon {
    width: 35px;
    color: #fff;
    margin-right: 20px;
}

.base__header__title {
    font-size: large;
    margin-right: 20px;
    cursor: pointer;
}

.base__header__event {
    margin-right: 20px;
    display: flex;
    align-items: center;
    height: 75%;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
}

.base__header__event .base__header__event-text {
    margin-right: 5px;
}

.base__header__event:hover {
    background: rgb(170, 170, 170);
}

.base__header__search {
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 40px;
    background: rgb(122, 122, 122);
    border-radius: 3px; /*ボックス角の丸み*/
}

.base__header__search:hover {
    background: rgb(170, 170, 170);
}

.base__header__search-icon {
    margin: 0 10px;
}

.base__header__search:focus-within {
    background: #fff;
    color: #000;
}

.base__header__search-input {
    font-size: 16px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.base__header__search-input:focus {
    color: #000; 
}

.base__header__search-input::placeholder {
    color: #fff;
}

.base__header__search-input:focus::placeholder {
    color: #666;
}

.base__header__account {
    margin-left: auto;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base__header__account-icon {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    border-radius: 3px;
}

.base__header__account-icon:hover {
    background: rgb(170, 170, 170);
}

/* Content */
.base__content {
    display: flex;
}

.base__content__main {
    flex: 1;
}

.base__content__main__header {
    height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: large;
    position: sticky;
    top: 50px;
    background: #fafafa;
}
