/* EventMenuModal */
.event-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.event-menu::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3 cubic-bezier(0, 0, 0.3, 1);
}

.event-menu--visible {
    pointer-events: auto;
    z-index: 5;
    opacity: 1;
}

.event-menu__container {
    background: #fafafa;
    position: fixed;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    height: 100%;
    max-height: 600px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.event-menu__container__header {
    height: 64px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

.event-menu__container__hader__title {
    font-size: 20px;
}

.event-menu__container__header__add-event {
    background: none;
    border: none;
    border-radius: 3px;
    padding: 8px;
}

.event-menu__container__header__add-event:hover {
    background: #ccc;
}

.event-menu__container__search {
    display: flex;
    align-items: center;
    margin: 0 24px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #ccc;
    margin-top: 20px;
    transition-duration: 0.5s;
}

.event-menu__container__search:focus-within {
    border: 2px solid #333;
    padding: 3px;
}

.event-menu__container__search-icon {
    font-size: 24px;
}

.event-menu__container__search-input {
    font-size: 14px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: 000;
}

.event-menu__container__tabs {

    width: 100%;
    height: 38px;

    display: flex;
    justify-content: start;
    margin-top: 24px;
}

.event-menu__container__tab__btn {
    background: none;
    border: none;
    color: 666;
    padding: 0 24px;
}

.event-menu__container__tab__btn:hover {
    background: #eee;
}

.event-menu__container__tab__btn--focus {
    color: #4570ff;
    border-bottom: 2px solid #4570ff;
}

.event-menu__container__tables {
    width: 100%;
    height: auto;
    max-height: 360px;
    overflow-x: auto;
    overflow-y: auto;
}

.event-menu__container__table {
    width: 100%;
    height: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

.event-menu__container__table td:nth-child(1) {
    width: 5px;
    padding: 4px 12px;
}

.event-menu__container__table__icon {
    font-size: 16px;
}

.event-menu__container__table td {
    padding: 4px 16px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
}

.event-menu__container__table__row:hover {
    background: rgba(0, 0, 0, 0.1);
}

.event-menu__container__table__event-name {
    cursor: pointer;
}

.event-menu__container__table__event-name:hover {
    color: royalblue;
    text-decoration: royalblue underline;
}


.event-menu__container__footer {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    /* footerにこているする対応 */
    position: absolute;
    bottom: 0;
    width: 100%;

    background: #fafafa;

}

.event-menu__container__footer__cancel {
    background: none;
    border: none;
    padding: 8px;
    margin: 0 16px;
    border-radius: 3px;
}

.event-menu__container__footer__cancel:hover {
    background: #ccc;
}

.event-menu__container__footer__open {
    background: none;
    border: none;
    padding: 8px;
    margin: 0 16px;
    border-radius: 3px;
}

.event-menu__container__footer__open:hover{
    background: #ccc;
}



.event-menu--visible::before {
    opacity: 1;
}
