<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimun-scale=1">
        <title>test</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/test.css">

    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <button class="js-menu-show header__content header__menu-toggle material-icons" aria-label="ナビゲーション メニュー">menu</button>
            <div class="header__content header__title">Greatest Ticket Man</div>
        </div>

        
        <div class="content">

            <!-- Sidebar -->
            <!-- TODO widthが狭くなったら表示しないようにする 756pxくらいから見えないようにしたい-->
            <aside class="content__sidebar">
                <header class="content__sidebar__header">
                    Side Bar Header
                </header>

                <ul class="content__sidebar__menu">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                </ul>
            </aside>

            <main class="content__main">
                <header class="content__main__header">
                    Main Header Title
                </header>
                <div class="content__main__content">
                    Main<br>
                    Main<br>
                    Main<br>
                    Main<br>
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                </div>
            </main>
        </div>

    </body>
</html>
