<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>test</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/test.css">
        <link rel="icon" href="/static/img/favicon.ico">
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <button class="js-menu-show-hide header__menu-toggle material-icons" aria-label="ナビゲーション メニュー">menu</button>
            <img class="header__icon" src="/static/img/ticket-icon.svg" alt="">
            <div class="header__title">Greatest Ticket Man</div>
            <div class="header__event">
                <p class="header__event-text">イベントの選択</p>
                <span class="header__event-icon material-icons">keyboard_arrow_down</span>
            </div>
            <div class="header__search">
                <span class="header__search-icon material-icons">search</span>
                <input class="header__search-input" type="text" placeholder="キーワードを入力">

            </div>
            <button class="header__account material-icons">person</button> <!-- Account -->
        </div>

        <!-- SideNav -->
        <aside class="js-side-nav side-nav">
            <nav class="js-side-nav-container side-nav__container">
                <header class="side-nav__header">
                    Side Nav
                </header>
                <ul class="side-nav__menu">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
            </nav>
        </aside>

        
        <div class="content">

            <!-- Sidebar -->
            <!-- TODO widthが狭くなったら表示しないようにする 756pxくらいから見えないようにしたい-->
            <aside class="content__sidebar">
                <header class="content__sidebar__header">
                    Side Bar Header
                </header>

                <ul class="content__sidebar__menu">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                 
                </ul>
            </aside>

            <main class="content__main">
                <header class="content__main__header">
                    Main Header Title
                </header>
                <div class="content__main__content">
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                    Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>Main<br>
                </div>
            </main>
        </div>

        <!-- script -->
        <script src="/static/js/common/detabinator.js"></script>
        <script src="/static/js/common/side-nav-v2.js"></script>

    </body>
</html>
