.content {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

/* form */

.input-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
}

.input__title {
    font-size: 1.2em;
}

.input__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.input__input {
    height: 32px;
    font-size: 1.0em;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.input__input:focus {
    border: none;
}


/* form */
.button__create {
    margin-right: 16px;
    border: none;
    padding: 10px 24px;
    border-radius: 2px;
    color: #fff;
    background: royalblue;
}

.button__create:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button__cancel {
    border: none;
    padding: 10px 24px;
    background: none;
    border-radius: 2px;
    color: #000;
}

.button__cancel:hover {
    background: rgba(0, 0, 0, 0.2);
}