<div class="content-header">
    {{.mainTitle}}

    <div class="content-header__button__container">
        <button class="js-reserve-create content-header__button">
            <span class="content-header__button__icon material-icons">add_box</span>
            予約作成
        </button>
        <button class="js-reserve-delete content-header__button">
            <span class="content-header__button__icon material-icons">delete</span>
            削除
        </button>
        <button class="js-reserve-reload content-header__button">
            <span class="content-header__button__icon material-icons">refresh</span>
            更新
        </button>
    </div>
</div>
