<!DOCTYPE html>
<html>
    {{.head}}
    <body>
        {{.header}}
    
        <section style="margin: 30px;">
            <h2 class="h1 font-weight-bold">Todo</h2>
            <h1 class="h6">これからやるべきことをここで管理していきます</h1>
        

            <form>
                <div class="form-outline">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                </div>
                <div id="emailHelp" class="form-text mb-3">
                    We'll never share your email with anyone else.
                </div>
                <div class="form-outline mb-3">
                    <input type="password" class="form-control" id="exampleInputPassword1" />
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>

        {{.footer}}
    </body>
</html>
