<!DOCTYPE html>
<html>
    {{.head}}
    <body>
        {{.header}}
    
        <section style="margin: 30px;">
            <h2 class="h1 font-weight-bold">Todo</h2>
            <h1 class="h6">これからやるべきことをここで管理していきます</h1>
        

            <form>
                <div class="form-outline">
                    <input type="text" class="form-control" id="tido-title" aria-describedby="todo-help" />
                    <label for="todo-title" class="form-label">タイトル</label>
                </div>
                <div id="todo-help" class="form-text mb-3">
                    これからやるべきTODOをここに入力してください
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">詳細</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">追加</button>
            </form>
        </section>

        {{.footer}}
    </body>
</html>
