<!DOCTYPE html>
<html>
    {{.head}}
    <body>
        {{.header}}

        <!-- title -->
        <section style="margin: 30px;">
            <h2 class="h1 font-weight-bold">Todo</h2>
            <h1 class="h6">これからやるべきことをここで管理していきます</h1>
        </section>
        <!-- title -->
        <!-- form -->
        <hr class="my-5">

        <section style="margin: 30px;">
            <form>
                <div class="form-outline">
                    <label for="todo-title" class="form-label h4">タイトル</label>
                    <input type="text" class="form-control" id="todo-title" aria-describedby="todo-help" />
                </div>
                <div id="todo-help" class="form-text mb-3">
                    これからやるべきTODOを入力してください
                </div>
                <div class="form-group">
                    <label for="todo-desc" class="form-label h4">詳細</label>
                    <textarea class="form-control" id="todo-desc" rows="5"></textarea>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <button type="submit" class="btn btn-primary" onclick="create()">追加</button>
                </div>
            </form>
        </section>
        <!-- form -->
        <hr class="my-5">
        <!-- table  -->
        <section style="margin: 30px;">
            <label for="todo-table" class="label h4">Todo 一覧</label>
            <table class="table" id="todo-table">
                <thead>
                    <tr>
                        <th scope="col">削除</th>
                        <th scope="col">編集</th>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Desc</th>
                        <th scope="col">担当</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-secondary">Edit</button></td>
                        <th scope="row">1</th>
                        <td>クレジットAPIを実装する</td>
                        <td>クレジットStripeとの組み込みを使って、<br>クレジット決済できるようにする</td>
                        <td>@sunjin</td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                        <td><button type="button" class="btn btn-secondary">Edit</button></td>
                        <th scope="row">2</th>
                        <td>使う側のUIを作成する</td>
                        <td>できるだけクリーンで使いやすいUIを目指す、<br>意外と大事だと思う</td>
                        <td>@sunjin</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- toast -->
        <div style="position: absolute; top: 5vh; right: 50vw;">
        
            <!-- Then put toasts within -->
            <div class="toast bg-info text-white" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-info text-white">
                    <!-- <img src="/static/img/ticket-icon.svg" width="15px" height="15px" class="rounded mr-2" alt=""> -->
                    <i class="fas fa-info-circle fa-lg mr-2"></i>
                    <strong class="mr-auto">Info</strong>
                    <small>何分前</small>
                    <button type="button" class="ml-2 my-1 close text-white" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    あれあれがそれそれしました
                </div>
            </div>
            
        </div>
        <!-- toast -->
        
        <!-- test  -->
        <button onclick="popToast()">トースト</button>
        <!-- test  -->


        <!-- table  -->
        {{.footer}}
        <script>

            window.onload = function() {
                let toastElList = [].slice.call(document.querySelectorAll('.toast'));

                console.log("toast el list is ", toastElList);

                let option = {
                    animation: true,
                    autohide: true,
                    delay: 2000,
                };


                let toastList = toastElList.map(function (toastEl) {
                    // return new bootstrap.Toast(toastEl, option)
                    return new bootstrap.Toast(toastEl, option);
                })

                console.log("toast list is ", toastList);
                for (let i = 0; i < toastList.length; i++) {
                    let toast = toastList[0];
                    console.log("toast is ", toast);
                    toast.show();
                }
            }

            // create todoを作成する
            async function create() {

                const data = {
                    title: document.getElementById('todo-title').value,
                    desc: document.getElementById('todo-desc').value,
                };

                window.Alma.req.post('/todo/create', window.Alma.req.createPostData(data));
            }

            function popToast() {

                console.log("===== popToast");

                window.Alma.toast.toast();
            }
        </script>
    </body>
</html>
