<!-- table  -->
<section style="margin: 30px;">
    <label for="todo-table" class="label h4">Todo 一覧</label>
    <table class="table" id="todo-table">
        <thead>
            <tr>
                <th scope="col">削除</th>
                <th scope="col">編集</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">担当</th>
                <th scope="col">期限</th>
                <th scope="col">作成時間</th>
                <th scope="col">編集時間</th>

            </tr>
        </thead>
        <tbody>
            {{ range $todo := .todoList }}

                <tr>
                    <td><button type="button" class="btn btn-danger" onclick="remove('{{ $todo.ID.Hex }}')">Delete</button></td>
                    <td><button type="button" class="btn btn-secondary">Edit</button></td>
                    <td>{{ $todo.Title }}</td>
                    <td>{{ $todo.Desc }}</td>
                    <td>{{ $todo.Name }}</td>
                    <td>{{ $todo.DeadlineTime }}</td>
                    <td>{{ $todo.CreateTime }}</td>
                    <td>{{ $todo.UpdateTime }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</section>
<script>
    async function remove(id) {
        
        const data = {
            id: id,
        };

        window.Alma.req.post('/todo/remove', window.Alma.req.createPostData(data));
    }
</script>