<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <title>Greatest Ticket Man</title>
    </head>
    <body>
        <div class="signup">
            Email: <input type="text">
            <br>
            Password: <input type="password">
            <br>
            <button>Sign up</button>
        </div>

        <!-- 流れは、Email, Paswordを入力して仮登録, 設定したメールアドレスにメールを送信、そこにあるURLを叩いて、さっき追加したパスワードを入力してログインすれば本登録完了 -->
        <!-- メールで送るURLのPassは、_idに含まれているものである必要がある -->
    </body>
</html>
