.content {
    box-sizing: border-box;
    padding: 0;
    margin: 30px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.event-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.event-container__title {
    font-size: 1.2em;
}

.event-container__value {
    font-size: 1.0em;
}

.event-container__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.button-container__update {
    margin-right: 16px;
    border: none;
    padding: 10px 24px;
    border-radius: 2px;
    color: #fff;
    background: royalblue;
}

.button-container__update:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

