
.calendar__container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    height: 100%;
    width: 100%;
    background: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    color: #222227;
    margin: 16px;
}

.calendar__month {
    width: 100%;
    background: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #fafafa;
}

.calendar__icon {
    font-size: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.calendar__icon:hover {
    background: #e0eeff;
    color: royalblue;
}

.calendar__date__title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.calendar__date__desc {
    font-size: 20px;
}

.calendar__weekdays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar__weekday:first-child,
.calendar__day:nth-child(7n + 1) {
    color: #f44336;
    font-weight: 600;
}

.calendar__weekday:last-child,
.calendar__day:nth-child(7n) {
    color: royalblue;
    font-weight: 600;
}

.calendar__weekday {
    padding: 12px 0;
}

.calendar__days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar__day {
    font-size: 12px;
    padding: 12px;
    cursor: pointer;
}

.calendar__day:hover:not(.calendar__day--selected){
    background: rgba(0, 0, 0, 0.1);
    
}

.calendar__day--today {
    background: #e0eeff;
    color: royalblue;
}

.calendar__day--selected {
    background: rgba(0, 0, 0, 0.4);
}


.calendar__prev-date,
.calendar__next-date {
    opacity: 0.5;
}

.calendar__prev-date:hover,
.calendar__next-date:hover {
    cursor: default;
    background: #fafafa;
}

