
.calendar__container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    height: 100%;
    width: 100%;
    background: #fafafa;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    color: #222227;
    margin: 16px;
}

.calendar__month {
    width: 100%;
    background: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 16px;
    color: #fafafa;
}

.calendar__icon {
    font-size: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.calendar__icon:hover {
    background: #e0eeff;
    color: royalblue;
}

.calendar__date__title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.calendar__date__desc {
    font-size: 16px;
}

.calendar__weekdays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar__weekday {
    padding: 12px 0;
}

.calendar__days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar__day {
    font-size: 12px;
    padding: 12px;
}

.calendar__day:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.calendar__day--today {
    background: #e0eeff;
    color: royalblue;
}

.calendar__prev-date,
.calendar__next-date {
    opacity: 0.5;
}