<main class="content">


    <div class="ticket-table__container">
        <table class="ticket-table">
            <thead class="ticket-table__head">
                <tr>
                    <th><input type="checkbox" class=""></th>
                    <th>TicketID</th>
                    <th>TicketName</th>
                    <th>TicketPrice</th>
                    <th>TicketDesc intro</th>
                </tr>
            </thead>

            <tbody class="ticket-table__body">

                <tr class="js-ticket-table-row">
                    <td><input type="checkbox"></td>
                    <td>TicketID</td>
                    <td>TicketName</td>
                    <td>TicketPrice</td>
                    <td>TicketDesc Intro</td>
                </tr>

            </tbody>
        </table>
    </div>


</main>
