<main class="content">

    <div class="js-ticket-table table__container">
        <table class="js-ticket-table table">
            <thead class="table__head">
                <tr>
                    <th><input type="checkbox" class="js-ticket-table-head-checkbox"></th>
                    <th>TicketID</th>
                    <th>TicketName</th>
                    <th>TicketPrice</th>
                    <th>TicketDesc intro</th>
                </tr>
            </thead>

            <tbody class="table__body">

                {{ $eventId := .eventId }}

                {{ range $ticketInfo := .ticketInfoList }}
                <tr class="js-ticket-table-row ticket__table__row">
                    <td><input type="checkbox" class="js-table-checkbox ticket__check--visible"></td>
                    <td><a class="ticket__update__anchor" href='/ticket/update?event={{ $eventId }}&ticketId={{ $ticketInfo.TicketId }}'> {{ $ticketInfo.TicketId }} </a></td>
                    <td>{{ $ticketInfo.TicketName }}</td>
                    <td>{{ $ticketInfo.TicketPrice }}</td>
                    <td>{{ $ticketInfo.TicketDesc }}</td>
                </tr>
                {{ end }}

            </tbody>
        </table>
    </div>


</main>
