<main class="content">

    <div class="table__container">
        <table class="js-ticket-table table">
            <thead class="table__head">
                <tr>
                    <th><input type="checkbox" class="js-table-head-checkbox"></th>
                    <th>TicketID</th>
                    <th>TicketName</th>
                    <th>TicketPrice</th>
                    <th>TicketDesc intro</th>
                </tr>
            </thead>

            <tbody class="table__body">

                {{ range $ticketInfo := .ticketInfoList }}
                <tr class="js-ticket-table-row">
                    <td><input type="checkbox"></td>
                    <td>{{ $ticketInfo.TicketId }}</td>
                    <td>{{ $ticketInfo.TicketName }}</td>
                    <td>{{ $ticketInfo.TicketPrice }}</td>
                    <td>{{ $ticketInfo.TicketDesc }}</td>
                </tr>
                {{ end }}

            </tbody>
        </table>
    </div>


</main>
