
    .modal__container {
        z-index: 999999; /*すべての要素より前に出す*/ 
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
    }

    .modal {
        width: 80%;
        max-width: 400px;
        background: #fafafa;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        overflow: auto;
        
    }

    .modal__title {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        word-break: break-all;
    }

    .modal__title i {
        margin-right: 8px;
    }

    .modal__body {
        height: 100%;
        word-break: break-all; /* 折返し強制*/
    }

    .modal__button-group {
        text-align: right;
        margin-top: 24px;
    }

    .modal__button-cancel {
        border: none;
        padding: 8px 16px;
        background: none;
        border-radius: 2px;
        color: #000;
        font-size: 0.8em;
    }

    .modal__button-cancel:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .modal__button-primary {
        border: none;
        padding: 8px 16px;
        border-radius: 2px;
        color: #fff;
        background: royalblue;
    }

    .modal__button-primary:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
