* {

    /* padding, marginをwidthとheightの長さに含める */
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background: #333;
    color: #fff;
    display: flex; /* header内の要素が横並びになるように設定 */
    flex-direction: row; /* 並び方の詳細 */
    align-items: center; /* https://developer.mozilla.org/ja/docs/Web/CSS/align-items 要素がいい感じに真ん中に来るように設定 */
    padding: 0 16px;
}

.header__menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: #fff;
}

.header__menu-toggle:hover {
    background: rgb(85, 85, 85);
}

.header__content {
    margin-right: 20px;
}

.content {
    display: flex;
}


.content__sidebar {
    width: 250px;
    background: #ccc;
}

.content__main {
    flex: 1;
    overflow: auto;
}

