* {

    /* padding, marginをwidthとheightの長さに含める */
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 1; /* 影を見せるために、上に設定 */
    background: #333;
    color: #fff;
    display: flex; /* header内の要素が横並びになるように設定 */
    flex-direction: row; /* 並び方の詳細 */
    align-items: center; /* https://developer.mozilla.org/ja/docs/Web/CSS/align-items 要素がいい感じに真ん中に来るように設定 */
    padding: 0 16px;

    position: sticky;
    top: 0;
}

.header__menu-toggle {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    color: #fff;
}

.header__menu-toggle:hover {
    background: rgb(85, 85, 85);
}

.header__icon {
    width: 35px;
    color: #fff;
}

.header__title {
    font-size: large;
}

.header__content {
    margin-right: 20px;
}

.content {
    display: flex;
}

.content__main {
    flex: 1;
}

.content__main__header {
    height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #ccc;
    display: flex; /* 文字の中央揃え */
    align-items: center; /* 文字の中央揃え */
    font-size: large;
    position: sticky;
    top: 50px;
    background: #fafafa; /* スクロールしたときの、content__main__contentが見えないように、背景と同じ色に塗りつぶす */
}


.content__sidebar {
    width: 250px;
    border-right: 1px solid #ccc;
    position: sticky;
    left: 0;
    top: 50px; /* stickyの設定のためにheader分を開けている */
    height: 100%;
    overflow: hidden; /* はみ出たときは見えないようにする */
    pointer-events: auto;
}

.content__sidebar__header {
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    display: flex; /* 文字の中央揃え */
    align-items: center; /* 文字の中央揃え */
    font-size: large;
}

.content__sidebar__menu {
    flex: 1;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px); /* いい感じにするやつ */
}

.content__sidebar__menu li {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
}

.content__sidebar__menu li:hover {
    background: #ccc;
}
