.input-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
}

.input__title {
    font-size: 1.2em;
}

.input__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.input__input {
    height: 32px;
    font-size: 1.0em;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.input__input:focus {
    border: none;
}


.multi-stock {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.multi-stock__table {
    width: 100%;
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
}

.multi-stock__head th {
    text-align: left;
    font-weight: normal;
    font-size: 0.8em;
}

.multi-stock__row td {
    padding-right: 8px;
}

.multi-stock__input {
    width: 100%;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.multi-stock__input-date {
    font-size: 1em;
}

.multi-stock__input-num {
    font-size: 0.8em;
}

.multi-stock__delete-button {
    font-size: 1.4em;
    text-align: center;
    background: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
}

.multi-stock__delete-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.multi-stick__add-button {
    margin: 12px 0;
    width: 100%;
    border: none;
    border-radius: 2px;
    border: 1px solid royalblue;
    color: royalblue;
    background: #fff;
    cursor: pointer;
}

.multi-stick__add-button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}