.input-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
}

.input__title {
    font-size: 1.2em;
}

.input__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.input__input {
    height: 32px;
    font-size: 1.0em;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.input__input:focus {
    border: none;
}


.multi-stock {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.multi-stock__table {
    width: 100%;
    justify-content: center;
    text-align: center;
    border-collapse: collapse;
}

.multi-stock__row td {
    padding: 0 8px;
}

.multi-stock__input {
    width: 100%;
    height: 24px;
    font-size: 0.8em;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.multi-stick__add-button {
    margin: 10px;
    width: 100%;
    margin-right: 16px;
    border: none;
    border-radius: 2px;
    border: 1px solid royalblue;
    color: royalblue;
    background: #fff;
}

.multi-stick__add-button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}