.content-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* backbuttonがあるときだけ、きれいに見せるためpasdding分左にずらす */
.content-header__backbutton--include {
    transform: translate(-25px, 0);
}

.content-header__button__container {
    margin: 0 64px;
    display: flex;
    flex-direction: row;
}

.content-header__button {
    background: none;
    border: none;
    padding: 8px 12px;
    margin: 0 8px;
    border-radius: 2px;
    display: flex;
    color: royalblue;
}

.content-header__button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.content-header__button__icon {
    font-size: 1.6em;
    margin-right: 4px;
}
