
.base__content__sidebar {
    width: 250px;
    border-right: 1px solid #ccc;
    position: sticky;
    left: 0;
    top: 50px; /* stickyの設定のためにheader分を開けている */
    height: 100%;
    overflow: hidden; /* はみ出たときは見えないようにする */
    pointer-events: auto;
}

.base__content__sidebar__header {
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    display: flex; /* 文字の中央揃え */
    align-items: center; /* 文字の中央揃え */
    font-size: large;
}

.base__content__sidebar__menu {
    flex: 1;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px); /* いい感じにするやつ */
}

.base__content__sidebar__menu li {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
}

.base__content__sidebar__menu li:hover {
    background: #ccc;
}

@media screen and (max-width: 756px) {
    .base__content__sidebar {
        display: none;
    }
}
