<!DOCTYPE html>
<html>

<head>
    <title>Greatest Ticket Man</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
    <!-- デザインはあとでどうにかする -->

    <div class="container">

        <div class="title">予約</div>

        <div>タイトル</div>
        <div>Desc</div>

        <select name="" id="">チケットの選択</select>

        <div>
            <div>個数</div>
            <input type="number">
        </div>

        <div>
            <div>購入方法</div>
            <input type="text">
        </div>

        <button>購入</button>


    </div>


</body>

</html>