<div class="calendar__container">
    <div class="calendar">

        <div class="calendar__month">
            <i class="js-calendar-prev calendar__icon material-icons">keyboard_arrow_left</i>
            <div class="calendar__date">
                <h1 class="js-calendar-date-title calendar__date__title">
                    <!-- xxxx年 xx月 -->
                </h1>
                <p class="js-calendar-date-desc calendar__date__desc">
                    <!-- xx日 -->
                </p>
            </div>
            <i class="js-calendar-next calendar__icon material-icons">keyboard_arrow_right</i>
        </div>

        <div class="calendar__weekdays">
            <div class="calendar__weekday">日</div>
            <div class="calendar__weekday">月</div>
            <div class="calendar__weekday">火</div>
            <div class="calendar__weekday">水</div>
            <div class="calendar__weekday">木</div>
            <div class="calendar__weekday">金</div>
            <div class="calendar__weekday">土</div>
        </div>

        <div class="js-calendar-days calendar__days">
            <!-- ここに動的にカレンダーが作成されます -->
        </div>
    </div>
</div>
