<div class="calendar__container">
    <div class="calendar">

        <div class="calendar__month">
            <i class="js-calendar-prev calendar__icon material-icons">keyboard_arrow_left</i>
            <div class="calendar__date">
                <h1 class="js-calendar-date-title calendar__date__title">TITLE</h1>
                <p class="js-calendar-date-desc calendar__date__desc">DESC</p>
            </div>
            <i class="js-calendar-next calendar__icon material-icons">keyboard_arrow_right</i>
        </div>

        <div class="calendar__weekdays">
            <div class="calendar__weekday">Sun</div>
            <div class="calendar__weekday">Mon</div>
            <div class="calendar__weekday">Tue</div>
            <div class="calendar__weekday">Wed</div>
            <div class="calendar__weekday">Thu</div>
            <div class="calendar__weekday">Fri</div>
            <div class="calendar__weekday">Sat</div>
        </div>

        <div class="js-calendar-days calendar__days">
            <!-- ここに動的にカレンダーが作成されます -->
        </div>
    </div>
</div>
