<div class="form-container">
    <div class="input-container">
        <span class="input__title">チケットID</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text" value="" id="js-ticket-id">
        <span class="input__desc">イベント内で同じチケットIDは使用できません</span>
    </div>
</div>   
<div class="form-container">
    <div class="input-container">
        <span class="input__title">チケット名</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text" value="" id="js-ticket-name">
        <span class="input__desc">イベント内で同じチケット名は使用できません</span>
    </div>
</div>      
<div class="form-container">
    <div class="input-container">
        <span class="input__title">価格 (円)</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="number" value="" min="0" id="js-ticket-price">
    </div>
</div>         
<div class="form-container">
    <div class="input-container">
        <span class="input__title">説明</span>
        <span class="input__desc">(省略可)</span>
        <textarea class="input__textarea" cols="30" rows="10" id="js-ticket-desc"></textarea>
    </div>
</div>      
