<div class="form-container">
    <div class="input-container">
        <span class="input__title">チケットID</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text" value='{{ .ticketId }}' id="js-ticket-id">
        <span class="input__desc">イベント内で同じチケットIDは使用できません</span>
        <span class="input__desc">あとで変更はできません</span>
    </div>
</div>   
<div class="form-container">
    <div class="input-container">
        <span class="input__title">チケット名</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text" value='{{ .name }}' id="js-ticket-name">
        <span class="input__desc">イベント内で同じチケット名は使用できません</span>
    </div>
</div>      
<div class="form-container">
    <div class="input-container">
        <span class="input__title">価格 (円)</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="number" value='{{ .price }}' min="0" id="js-ticket-price">
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">在庫数</span>
        <span class="input__desc">(必須)</span>
        <input type="number" class="input__input" value="{{ .stock }}" min="0" id="js-ticket-stock">
    </div>
</div>

<div class="form-container">
    <div class="input-container">
        <span class="input__title">開始日</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="datetime-local" placeholder="" value='{{ .startTime | timestampToDateTime }}' id="js-ticket-start-time">
    </div>
</div>

<div class="form-container">
    <div class="input-container">
        <span class="input__title">終了日</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="datetime-local" placeholder="" value='{{ .endTime | timestampToDateTime }}' id="js-ticket-end-time">
    </div>
</div>

<div class="form-container">
    <div class="input-container">
        <span class="input__title">説明</span>
        <span class="input__desc">(省略可)</span>
        <textarea class="input__textarea" cols="30" rows="10" id="js-ticket-desc">{{ .desc }}</textarea>
    </div>
</div>      
