.content {
    box-sizing: border-box;
    padding: 0;
    display: grid;
    
    overflow: auto;
    width: calc(100vw - 250px); /* sub menu */
    height: calc(100vh - 100px);
    grid-template-columns: 300px minmax(300px, 600px);
}

.step {
    grid-row: 1;
    grid-column: 1 / 2;
    border-right: 1px solid #ccc;
}

.step-content {
    margin: 8px 12px;
    padding: 16px 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.step-content:hover {
    background: rgba(0, 0, 0, 0.1);
}

.step-content--selected {
    background: #e0eeff;
    color: royalblue;
}

.step__title {
    font-size: 1.1em;
}

.step__icon {
    font-size: 0.8em;
    margin: 0 4px;
}

.step__desc {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.form {
    grid-row: 1;
    grid-column: 2 / 3;
}

.form-content {
    opacity: 0;
    pointer-events: none;
    height: 0;
    width: 0;
    will-change: opacity;
}

.form-content--visible {
    opacity: 1;
    pointer-events: auto;
    height: 100%;
    width: 100%;
}

/* side navが消える位置で, windthをmaxにする */
@media screen and (max-width: 756px) {
    .content {
        width: 100vw;
    }
}
