<div class="reserve-form">

    <div class="input-container">
        <div class="input__title">名前</div>
        <span class="input__desc">(必須)</span>
        <input type="text" class="input__input" id="js-reserve-name">
    </div>
    <div class="input-container">
        <div class="input__title">ふりがな</div>
        <span class="input__desc">(必須)</span>
        <input type="text" class="input__input" id="js-reserve-furigana">
    </div>

    <div class="input-container">
        <div class="input__title">メールアドレス</div>
        <span class="input__desc">(必須)</span>
        <input type="text" class="input__input" id="js-reserve-email">
    </div>

    <div class="input-container">
        <span class="input__title">備考</span>
        <span class="input__desc">(省略可)</span>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>
