
<div class="form-container">
    <div class="input-container">
        <span class="input__title">名前</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text" placeholder="尹 舜真">
        <span class="input__desc">氏名の間に空白を開けてください</span>
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">ふりがな</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text">
        <span class="input__desc">ふりがなを入力</span>
    </div>
</div>

<div class="form-container">
    <div class="input-container">
        <span class="input__title">チケット種別</span>
        <input class="input__input" type="text">
        <span class="input__desc">購入するチケットの種類を選択します</span>
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">日付</span>
        <input class="input__input" type="text">
        <span class="input__desc">日付を選択</span>
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">時間</span>
        <input class="input__input" type="text">
        <span class="input__desc">時間を選択</span>
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">枚数</span>
        <input class="input__input" type="text">
        <span class="input__desc">枚数を選択</span>
    </div>
</div>
<div class="form-container">
    <div class="input-container">
        <span class="input__title">備考</span>
        <span class="input__desc">(省略可)</span>
        <textarea class="input__textarea" cols="30" rows="10" id="js-ticket-desc">{{ .ticketDesc }}</textarea>
    </div>
</div>      





必要なもの<br>
名前: first, last, furigana
<br>
チケット種別
<br>
日付
<br>
時間
<br>
枚数
<br>
オプション
<br>
名前などの情報
<br>
備考
