<div class="reserve-form">
    <div class="input-container">
        <span class="input__title">チケット種別</span>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text">
        <span class="input__desc">TODO : 購入するチケットの種類を選択します</span>
    </div>

    <div class="input-container">
        <div class="input__title">日付</div>
        <span class="input__desc">(必須)</span>
        <input class="input__input" type="text">
        <span class="input__desc">TODO : カレンダー形式で指定できるようにする</span>
    </div>

    <div class="input-container">
        <div class="input__title">時間</div>
        <span class="input__desc">(必須)</span>
        <input type="text" class="input__input">
        <span class="input__desc">TODO : 日付によって指定できるやつを決める</span>
    </div>

    <div class="input-container">
        <div class="input__title">枚数</div>
        <span class="input__desc">(必須)</span>
        <input type="text" class="input__input">
        <span class="input__desc">TODO : 枚数</span>
    </div>

</div>
