<div class="reserve-form">


    <div class="input-container">
        <span class="input__title">チケット種別</span>
        <span class="input__desc">(必須)</span>
        <select name="ticket_kind" class="input__input" id="js-reserve-ticket-kind">
            <option value="">チケットを選択してください</option>
        {{range $ticketInfo := .ticketInfoList}}
            <option value='{{$ticketInfo.TicketId}}'>{{$ticketInfo.Name}}</option>
        {{end}}
        </select>
    </div>


    <div class="js-reserve-date input-container">
        <div class="input__title">日付</div>
        <span class="input__desc">(必須)</span>
        <!-- js-reserve-date-select-(ticketId)のselectを追加する -->
    </div>

    <div class="input-container">
        <div class="input__title">枚数</div>
        <span class="input__desc">(必須)</span>
        <input type="number" class="input__input" min="0" max="">
        <span class="input__desc"></span>
    </div>
</div>

<!-- ticket kind select -->
{{range $ticketInfo := .ticketInfoList}}
<template id="js-reserve-date-select-{{$ticketInfo.TicketId}}-tmp">
    
    <select name="" id='js-reserve-date-select' class="input__input">
        {{range $scheduleStockInfo := $ticketInfo.ScheduleStockList}}
            <option value='{{$scheduleStockInfo.ScheduleStockId}}'>{{$scheduleStockInfo.EventStartTime | timestampToTime}}</option>
        {{end}}
    </select>
</template>
{{end}}