<div class="reserve-form">


    <div class="input-container">
        <span class="input__title">チケット種別</span>
        <span class="input__desc">(必須)</span>
        <select name="ticket_kind" class="input__input" id="js-reserve-ticket-kind">
            <option value="">チケットを選択してください</option>
        {{range $ticketInfo := .ticketInfoList}}
            <option value='{{$ticketInfo.TicketId}}'>{{$ticketInfo.Name}}</option>
        {{end}}
        </select>
    </div>

    <div class="js-reserve-date input-container">
        <div class="input__title">日付</div>
        <span class="input__desc">(必須)</span>
        <!-- js-reserve-date-select-(ticketId)のselectを追加する -->
    </div>

    <div class="js-reserve-num input-container">
        <div class="input__title">枚数</div>
        <span class="input__desc">(必須)</span>
        
    </div>

    <div class="input-container">
        <span class="input__title">備考</span>
        <span class="input__desc">(省略可)</span>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>

<!-- template -->
{{range $ticketInfo := .ticketInfoList}}
    <!-- ticket kind select -->
    <template id="js-reserve-date-select-{{$ticketInfo.TicketId}}-tmp">
        
        <select name="" id='js-reserve-date-select' class="input__input">
            <option value="">日付を選択してください</option>
            {{range $scheduleStockInfo := $ticketInfo.ScheduleStockList}}
                <option value='{{$scheduleStockInfo.ScheduleStockId}}'>{{$scheduleStockInfo.EventStartTime | timestampToTime}}</option>
            {{end}}
        </select>
    </template>


    <!-- ticket stock  -->
    {{range $scheduleStockInfo := $ticketInfo.ScheduleStockList}}
        <template id="js-reserve-stock-{{$scheduleStockInfo.ScheduleStockId}}-tmp">
            <input type="number" id="js-reserve-num-input" class="input__input" min="0" max='{{$scheduleStockInfo.Stock}}'>
            <span class="js-reserve-num-desc input__desc">在庫数:{{$scheduleStockInfo.Stock}} TODO 残り在庫数を比較して、実際の在庫数を表示する</span>
        </template>
    {{end}}

{{end}}

