<div class="reserve-form">
    <div class="input-container">
        <span class="input__title">購入方式選択</span>
        <span class="input__desc">(必須)</span>
        <select name="" id="" class="input__input">
            <option value="torioki">取り置き</option>
            <option value="daizumi">代済み</option>
            <option value="maewatashi">前渡し</option>
            <option value="shoutai">招待</option>
            <option value="kurejitto">クレジット</option>
        </select>
        <span class="input__desc">TODO : 購入するチケットの種類を選択します, クレジットの場合はここで購入処理もする</span>
    </div>

    <div class="input-container">
        <span class="input__title">備考</span>
        <span class="input__desc">(省略可)</span>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>
