<div class="content-header">
    {{.mainTitle}}
    <div class="content-header__button__container">
        <button class="content-header__button"><span
                class="content-header__button__icon material-icons">add_box</span>作成</button>
        <button class="content-header__button"><span
                class="content-header__button__icon material-icons">delete</span>削除</button>
        <button class="content-header__button"><span
                class="content-header__button__icon material-icons">refresh</span>更新</button>
    </div>
</div>
