<main class="content">


    <div class="member-container">

        <!-- TODO 検索
        <div>
            <input type="text">
        </div>
        
        TODO pane
        何人いるか的なやつとか
        
        TODO table
        
        テーブルにひっつけて、ソートする条件的なやつを -->

        <div class="table__container">
            <table class="table">
                <thead class="table__head">
                    <tr>
                        <th><input type="checkbox" class="js-member-table-head-checkbox"></th>
                        <th>画像</th>
                        <th>名前</th>
                        <th>Email</th>
                        <th>権限</th>
                        <th>参加日</th>
                    </tr>
                </thead>

                <tbody class="table__body">

                    {{ range $memberInfo := .memberInfoList }}

                    <tr class="js-member-table-row">
                        <td><input type="checkbox"></td>
                        <td>画像</td>
                        <td>{{ $memberInfo.Name }}</td>
                        <td>{{ $memberInfo.Email }}</td>
                        <td>{{ $memberInfo.Auth }}</td>
                        <td>{{ $memberInfo.CreatedAt | timestampToTime }}</td>
                    </tr>

                    {{ end }}
                </tbody>

            </table>
        </div>
        


    </div>


</main>
