<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Greatest Ticket Man</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/component/base.css">

    <!-- EventMenuModal -->
    <link rel="stylesheet" href="/static/css/common/event-menu.css">

    <!-- AccountMenuModal -->
    <link rel="stylesheet" href="/static/css/common/account-menu.css">

    <!-- SideNav -->
    <link rel="stylesheet" href="/static/css/common/side-nav.css">

    <link rel="icon" href="/static/img/favicon.ico">

    <!-- Custom Css -->
    {{ range $_, $cssPath := .cssPathList }}
    <link rel="stylesheet" href="{{ $cssPath }}">
    {{ end }}
</head>

<body>
    <!-- Header -->
    <div class="base__header">
        <button class="js-menu-show-hide base__header__menu-toggle material-icons" aria-label="ナビゲーション メニュー">menu</button>
        <img class="base__header__icon" src="/static/img/ticket-icon.svg" alt="">
        <div class="js-base-header-title base__header__title">Greatest Ticket Man</div>
        <button class="js-event-menu-show base__header__event">
            <p class="js-event-name base__header__event-text">{{ .eventName }}</p>
            <span class="base__header__event-icon material-icons">keyboard_arrow_down</span>
        </button>
        <div class="base__header__search">
            <span class="base__header__search-icon material-icons">search</span>
            <input class="base__header__search-input" type="text" placeholder="キーワードを入力">
        </div>
        <div class="base__header__account">
            <button class="js-account-menu-show-hide base__header__account-icon material-icons">person</button>
        </div>
    </div>

    <!-- AccountMenuModal -->
    <div class="js-account-menu account-menu">
        <div class="js-account-menu-container account-menu__container">
            <div class="account-menu__details">
                <span class="account-menu__details__icon material-icons">person</span>
                <div class="account-menu__details__links">
                    <b class="js-account-name account-menu__details__links__name">user name</b>
                    <span class="js-account-email account-menu__details__links__email">user email</span>
                </div>
            </div>
            <footer class="account-menu__footer">
                <div class="account-menu__footer__add-account">
                    <button class="account-menu__footer__add-account--btn">アカウントを追加</button>
                </div>
                <div class="account-menu__footer__logout">
                    <button class="js-account-logout account-menu__footer__logout--btn">ログアウト</button>
                </div>
            </footer>
        </div>
    </div>

    <!-- EventMenuModal -->
    <div class="js-event-menu event-menu">
        <div class="js-event-menu-container event-menu__container">
            <header class="event-menu__container__header">
                <div class="event-menu__container__hader__title">イベントの選択</div>
                <button class="js-go-event-create-form event-menu__container__header__add-event">新しいイベント</button>
            </header>
            <div class="event-menu__container__search">
                <span class="event-menu__container__search-icon material-icons">search</span>
                <input class="event-menu__container__search-input" type="text" placeholder="イベントを検索">
            </div>

            <div class="event-menu__container__tabs">
                <button class="event-menu__container__tab__btn event-menu__container__tab__btn--focus">最近のイベント</button>
                <button class="event-menu__container__tab__btn">すべて</button>
            </div>


            <div class="event-menu__container__tables">

                <table class="event-menu__container__table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>名前</td>
                            <td>ID</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="event-menu__container__table__icon material-icons">star</span></td>
                            <td>ライオンキング</td>
                            <td>rion-king</td>
                        </tr>
                        <tr>
                            <td><span class="event-menu__container__table__icon material-icons">star</span></td>
                            <td>レ・ミゼラブル</td>
                            <td>remize</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>


            <footer class="event-menu__container__footer">
                <button class="js-event-menu-hide event-menu__container__footer__cancel">キャンセル</button>
                <button class="event-menu__container__footer__open">開く</button>
            </footer>
        </div>
    </div>

    <!-- SideNav -->
    <aside class="js-side-nav side-nav">
        <nav class="js-side-nav-container side-nav__container">
            <header class="side-nav__header">
                Side Nav
            </header>
            <ul class="side-nav__menu">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </nav>
    </aside>


    <div class="base__content">

        <!-- Sidebar -->
        <aside class="base__content__sidebar">
            <header class="base__content__sidebar__header">
                Side Bar Header
            </header>

            <ul class="base__content__sidebar__menu">
                <li>One</li>
                <li>Two</li>
                <li>Three</li>

            </ul>
        </aside>

        <!-- Main -->
        <main class="base__content__main">
            <header class="base__content__main__header">
                {{.mainTitle}}
            </header>
            <div class="base__content__main__content">
                <!-- ココに各種のコンテンツが入る予定 -->
                {{.mainContent}}
            </div>
        </main>
    </div>

    <!-- script -->
    <script src="/static/js/util/mini-toastr/mini-toastr.js"></script>
    
    <script src="/static/js/localstorage.js"></script>
    <script src="/static/js/common/detabinator.js"></script>
    <script src="/static/js/common/side-nav.js"></script>
    <script src="/static/js/common/account-menu.js"></script>
    <script src="/static/js/common/event-menu.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/js/location.js"></script> <!-- localstorage.jsに依存 -->
    <script src="/static/js/common/base.js"></script>
    
    
    {{ range $_, $scriptPath := .scriptPathList }}
    <script src="{{ $scriptPath }}"></script>
    {{ end }}



</body>

</html>
