<aside class="js-side-nav side-nav">
    <nav class="js-side-nav-container side-nav__container">
        <header class="js-side-nav-header side-nav__header">
            {{ .Title }}
        </header>
        <ul class="side-nav__menu">
            {{ range $childMenu := .ChildMenuInfoList }}
            <li class="js-side-nav-row side-nav__menu__li">
                <i class="material-icons">{{ $childMenu.Icon }}</i>
                {{ $childMenu.Title }}
                <div hidden class="js-side-nav-path">{{ $childMenu.Path }}</div>

                <div class="side-nav__sub-menu__container">
                    <ul class="side-nav__sub-menu">
                        {{ range $grandChildMenu := $childMenu.ChildMenuInfoList }}
                        <li class="js-side-nav-sub-row side-nav__sub-menu__li">
                            <i class="material-icons">{{ $grandChildMenu.Icon }}</i>
                            {{ $grandChildMenu.Title }}
                            <div hidden class="js-side-nav-sub-path">{{ $grandChildMenu.Path }}</div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </li>
            {{ end }}
        </ul>
    </nav>
</aside>
